mixin tick-box({ isChecked = true, name = "tick-box" } = {})
  .tick-box
    if isChecked
      input.tick-box__checkbox(
        id=name,
        name=name,
        type="checkbox",
        checked
      )
    else
      input.tick-box__checkbox(
        id=name,
        name=name,
        type="checkbox"
      )
    
    label.tick-box__mark(
      for=name
    )
  
+tick-box({
  name: "tick-box1"
})
+tick-box({ 
  isChecked: false,
  name: "tick-box2"
})